.product_card.big{
    height: 11em;
}


.product_card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 8.5em;
    background-color: var(--primary_color);
    border-radius: 3px;

    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;

    
    box-shadow: 1px 0px 10px 10px rgba(71, 69, 64, 0.158);
}



.image_container{
    height: 100%;
    min-width: 100px;
    border-radius: 3px 0 0 3px;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 0;
    overflow: hidden;
}

.image_container.big{
    min-width: 150px;
}


.product-image {
    height: 100%;
    object-fit: contain;
    border-radius: 3px 0 0 3px;

}

.product-details {
    flex-grow: 4;
    flex-shrink: 0;
    flex-basis: 0;

    height: 100%;
    display: flex;
    flex-direction: column;
    

    .top{
        flex: 0 0 auto; 


        .product-title {
            display: flex;
            align-items: center;
            
            height: 40px;
            font-size: 1.1em;
            font-family: 'Futura';
            font-weight: 100;
        }

    }

    .bottom{
        display: flex;
        flex: 1;

        .product-description {
            flex: 4;
            font-family: 'Gotham';
            font-size: 0.8em;
        }

        .product-price {
            flex: 2;

            font-family: 'Futura';
            font-weight: 100;
            font-size: 1em; 

            text-align: right;
            padding-right: 0.8em;
            padding-bottom: 0.8em;

            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }  
    }
    

    
    
}












.square-btn {
    width: 50px;
    height: 50px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.square-btn:hover {
    background-color: var(--middle_color);
}

.shopping_cart_button{
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    

    .icon-btn{
        margin-left: 10px;
        display: flex;
        border-radius: 50%;
        justify-content: center; 
        align-items: center;    
        background-color: var(--buttons_color);
        width: 40px;
        height: 40px;

    }

    .icon-btn:hover{
        border-radius: 50%;
        background-color: var(--middle_color);
    }

    .text-btn{
        padding: 15px;
        display: flex;
        justify-content: center; 
        align-items: center;     
        height: 20px;
        width: 80px;

        font-family: "Gotham";
        font-size: 13px;
        color: var(--primary_color);
        background-color: var(--button_color);
        border-radius: 1px;
    }
    
    i {
        font-size: 1.5rem;
        border-radius: 5px;
    }

}


.two_parts_layer {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.left_block{
    width: 100%;
}

.right_block{
    margin-right: 30px;
}

.two_button_layer button:first-child {
    flex: 4;
}

.two_button_layer button:last-child {
    flex: 1;
}

.two_button_layer div:first-child {
    flex: 4;
}

.two_button_layer div:last-child {
    flex: 1;
}


button.process_order{
    z-index: 200;
    position: fixed;
    bottom: 70px;

    display: flex;
    justify-content: center;
    align-items: center;  
    width: 9em;
    height: 2em;

    left: 50%;
    transform: translateX(-50%); 

    font-family: "futuris regular";
    font-size: 22px;
    font-weight: 100;
    border-radius: 1px;
    background-color: var(--button_color);
    color: var(--primary_color);
    cursor: pointer;
}

button.process_order:hover{
    background-color: var(--middle_color);
}