.product-details {
    padding: 20px;
    margin: 10px 0;
    width: 300px;
}

.product_details div.name {
    padding-left: 20px;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Gotham';
    margin-bottom: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 4px 4px 21px 10px var(--second-color);
}

.top_part{
    position: relative;
}



.product_details div.price_value{
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Futura';
    margin-bottom: 25px;
    display: flex;
    flex-wrap: nowrap;

        
}

.product_details div.block {
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 1px 0px 10px 10px rgba(71, 69, 64, 0.158);
    background-color: var(--primary_color);
    border-radius: 3px;
    
    
}

.parametrs_space_between{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    

    div.item {
        padding: 7px;
        padding-left: 10px;
        font-family: 'Gotham', 'Arial Narrow', Arial, sans-serif;
        
    
    }

    div.value{
        display: flex;
        justify-content: center;
        align-items:end;
        font-weight: 100;
        font-size: 13px;
        font-family: "Gotham"
    }
}


.two_parts_block {
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.left_block{
    width: 100%;
}

.right_block{
    margin-right: 30px;
}

.cube_volumes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 25px;

    .item {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        font-family: "futura";
        border: 1px solid var(--middle_color);
        color: var(--middle_color);
        border-radius: 1px;
        cursor: pointer;
    }

    .item input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .item input[type="radio"]:checked + label {
        border: 1px solid var(--button_color) !important;
        color: var(--button_color);
    }

    .item label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .item:hover {
        border-color: var(--middle_color);
        color: var(--middle_color);
    }
}

.description{
    margin-top: 20px;
    padding: 20px;
    font-size: 12px;
    font-family: 'Futuris regular';
}


.get_cost{
    margin: 10px;
    font-size: 15px;
    font-family: "Gotham";
}