.icon-table {
    margin-top: 1em;
    width: 100%;
    border-collapse: collapse; /* Убираем промежутки между ячейками */
}

.icon-table td {
    text-align: center; /* Центрируем содержимое в ячейке */
}

.icon-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

