
{% extends 'catalogs/base.html' %}
{% load static %}

{% block title %} products {% endblock %}



{% block style_dependencies%}
    <link rel="stylesheet" href="{% static 'other/font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'styles/slider.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'styles/product.css' %}">
{% endblock %}

{% block header_title %} Products {% endblock %}


{% block content%}
    <div class="product-card">
        <div class = "image_container">
            <img src="{% static 'img/3.jpg' %}" alt="Товар" class="product-image">
        </div>
        
        <div class="product-details">
            <div class="top_part">
                <p class="product-title">Название товара</p>
                <p class="product-description">Краткое описание товара. Краткое описание товара. Краткое описание товара. Краткое описание товара.</p>                    
            </div>

            <div class="product-price">1000 ₽</div>
        </div>
    </div>
{% endblock %}



{% block scripts_dependensies %} {% endblock %}


        
