#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
	margin-bottom: 20px;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 100%;
	float: left;
}


/*устанавливает общий размер блока с изображениями*/
#slides .image{ 
	margin-top: -10%;
	display: flex;  /* Используем flexbox */
    flex-wrap: nowrap;
}

.slide{ 
	position: relative;
	height: 100%;
	width: 100%;
}

.slide .inner_button{
	z-index: 300;
	position: absolute;
	bottom: 40px;
	left: 30px;
	padding-left: 25px;
	padding-right: 25px;

	font-size: 14px;
	font-weight: 100;
	font-family: 'Futura';

	height: 30px;
	background-color: var(--button_color);
	color: var(--primary_color)
}
.slide .inner_button:hover{
	background-color: var(--middle_color);
}
.slide .title{
	z-index: 300;
	position: absolute;
	text-align: left;
	width: 70%;

	bottom: 80px;
	left: 30px;

	font-family: 'Futura';
	font-size: 20px;

	color: var(--primary_color)
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
}

article img{
	height: 600px;
    width: 100%;
    object-fit: cover; 
    object-position: center; 
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	
	max-width: 500px; /*максимальнная длинна*/
}

.center-buttons {
	z-index: 500;
    position: absolute;
    top: 55%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

/*настройка переключения и положения для левой стрелки*/
.arrow{
	margin: 10px;
	display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    align-items: center;
	width: 62px;
	height: 62px;
}

.arrow:hover{
	background-color: var(--middle_color);
	border-radius: 50%;
}

.arrow img{
	height: 60px;
	width: 60px;

}

.arrow.left_arrow{
	background: url("{% static 'images/prev.png' %}") no-repeat;
	float: left;
	
}

.arrow.right_arrow{
	background: url("{% static 'images/next.png' %}") no-repeat; 
	float: right;
} 

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: 0% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 7px;
	height: 7px;
	background: var(--primary_color);
	opacity: 0.5;
}

#active{ /*расположение блока с переключателями*/
	margin: -50px 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: var(--choise_color);
	border-color: var(--middle_color) !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1){
	background: var(--color_3);
	border-color: var(--color_3) !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}