
.product-card {
    position: relative;
    display: block;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 8.5em;
    background-color: var(--primary_color);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 1px 0px 10px 10px rgba(71, 69, 64, 0.158);
}

.image_container{
    width: 100px; /* Ширина изображения */
    height: 8.5em;
    border-radius: 15px 0 0 15px; /* Закругление углов слева */
    overflow: hidden;
}


.product-image {
    width: 100%; /* Ширина изображения */
    height: 8.7em;
    object-fit: contain;
    border-radius: 15px 0 0 15px; /* Закругление углов слева */

}

.product-details {
    flex-grow: 1; /* Занимает доступное пространство */
    padding: 0 5px; /* Отступы справа и слева */
}

.top_part{
    position: absolute;
    top: 0;
    left: 100px;
    padding: 10px;
}

.product-title {
    margin: 0;
    font-size: 1.1em;
    font-family: 'Faberge';
    font-weight: 1000;
}

.product-description {
    margin: 5px 0 0;
    font-family: 'Sweet';
    font-size: 0.8em;
    color: #666; /* Цвет описания */
}

.product-price {
    font-family: 'Fenix';
    font-style: italic;
    font-weight: 1000;
    position: absolute;
    font-size: 1em; /* Размер шрифта цены */
    color: #333; /* Цвет цены */


    text-align: right; /* Выравнивание по правому краю */
    right: 0;
    bottom: 0;
    padding-right: 0.8em;
    padding-bottom: 0.8em;
}

.center-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.square-btn {
    width: 50px;
    height: 50px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.square-btn:hover {
    background-color: var(--middle_color);
}