.icon-table {
    margin-top: 1em;
    width: 100%;
    border-collapse: collapse; /* Убираем промежутки между ячейками */
}

.icon-table td {
    text-align: center; /* Центрируем содержимое в ячейке */
}