<!DOCTYPE html>
<html lang="ru">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'styles/logo.css' %}">
    {% block style_dependencies %}{% endblock %}
    <style>
        body {
            background-image: url("{% static 'img/background.png' %}");
            background-size: cover;
        }
    </style>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

</head>
<body>

    <div id="preloader">
        <img src="{% static 'img/logo.png' %}" alt="Loading..." id="logo">
        <script src="{% static 'js/preloader.js' %} "></script>
    </div>
    
    <div id="content" style="display: none;">
        {% block header %}
            <div class="header">
                <div class="inner_container">
                    <div class="main_title" id="debug">
                        {% block header_title%}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block fixed_objects %}
        {% endblock %}

        <div class="navigation_bar">

            <button class="icon-btn" data-action = "redirect" data-redirect_url="{% url 'channel' %}"><i class="fa fa-search"></i></button>
            <button class="icon-btn" data-action = "redirect" data-redirect_url="{% url 'start' %}"><div class = "logo_navigation"><img  src="{% static 'img/logo.png' %}"/><div></button>
            <button class="icon-btn" data-action = "redirect" data-redirect_url="{% url 'cart' %}"><span class="badge" id="cart_counter" data-action_url="{% url 'get_cart_counter' %}"></span><i class="fa fa-shopping-cart"></i></button>
            <button class="icon-btn" data-action = "redirect" data-redirect_url="{% url 'help' %}"><i class="fa fa-user"></i></button>
        </div>
        <div class="container">
            
            {% block content %}
            {% endblock %}

            
        <div>
    <div>

    {% block scripts_dependensies %}{% endblock %}
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'js/tg_extands.js' %} "></script>
    <script src="{% static 'js/redirect.js' %} "></script>
    <script src="{% static 'js/cart_counter.js' %} "></script>

</body>
</html>