<!DOCTYPE html>
<html lang="ru">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    {% block style_dependencies %}{% endblock %}

</head>
<body>
    
    {% block header %}
    <div class="header">
        <div class="inner_container">
            <div class="main_title">
                {% block header_title%}
                {% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="navigation_bar">

        <button class="icon-btn" onclick="window.location.href='{% url 'start' %}'"><i class="fa fa-search"></i></button>
        <button class="icon-btn" onclick="window.location.href='{% url 'start' %}'"><i class="fa fa-reply"></i></button>
        <button class="icon-btn" id="cart">{% if not request.cart.is_empty%}<span class="badge"> {{ request.cart.item_count_short }} </span>{% endif %}<i class="fa fa-shopping-cart"></i></button>
        <button class="icon-btn" onclick="window.location.href='{% url 'get_help' %}'"><i class="fa fa-user"></i></button>
    </div>
    <div class="container">
        
        {% block content %}
        {% endblock %}

        
    <div>

    {% block scripts_dependensies %}{% endblock %}
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'js/telegram_integration.js' %} "></script>

</body>
</html>