{% extends 'catalogs/base.html' %}
{% load static %}

{% block title %} products {% endblock %}

{% block header_title %} Brands {% endblock %}


{% block style_dependencies%}
    <link rel="stylesheet" href="{% static 'other/font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'styles/slider.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/table.css' %}">
    <link rel="stylesheet" href="{% static 'styles/catalog.css' %}">
{% endblock %}




{% block content%}
    <div class="icon-grid">
                {% for brand in brands %}
                    <button onclick="window.location.href='{% url 'products' category_id=category_id brand_id=brand.id %}'" class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="{{ brand.image.url}}" alt="Icon" class="small_image">
                            </div>
                            <p class="title">{{brand.name}}</p>
                        </div>
                    </button>
                {% endfor %}



{% endblock %}



{% block scripts_dependensies %}
    
{% endblock %}


        


    


        
        



