{% extends 'catalogs/base.html' %}
{% load static %}

{% block title %} Main page {% endblock %}



{% block style_dependencies %}
    <link rel="stylesheet" href="{% static  'other/font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'styles/slider.css' %} ">
    <link rel="stylesheet" href="{% static 'styles/main.css' %} ">
    <link rel="stylesheet" href="{% static 'styles/product.css' %} ">
    <link rel="stylesheet" href="{% static 'styles/product_item.css' %} ">

    <style>
        {% for i in range_images %}
            {% if forloop.first %}
                #switch{{ forloop.counter }}:checked ~ #slides .image {
                    margin-left: 0;
                }
            {% else %}
                #switch{{ forloop.counter }}:checked ~ #slides .image {
                    margin-left: -{{ i }}00%;
                }
            {% endif %}
        {% endfor %}


        {% for i in range_images %}
            #switch{{ forloop.counter }}:checked ~ #active label:nth-child({{forloop.counter}}){
                background: var(--second_color);
                border-color: var(--second_color) !important;
            }
        {% endfor %}


    </style>
{% endblock %}


{% block header %}{% endblock %}


{% block content%}
    <div class="all">
        <input checked type="radio" name="respond" id="desktop"/>
            <article id="slider">
                
                {% for i in range_images %}
                    <input {% if forloop.first %}checked{% endif %} type="radio" name="slider" id="switch{{forloop.counter}}" >
                {% endfor %}
                <div id="slides">
                    <div id="overflow">
                        <div class="image">
                            {% for image in images %}
                                <article><img src="{{ image.image.url }}"></article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="active">
                    {% for i in range_images %}
                    <label for="switch{{forloop.counter}}"></label>
                    {% endfor %}
                    
                </div>
                <div class="center-buttons">
                    <button class="square-btn" id = "prev_button"><img src="{% static 'img/prev.png' %}"></button>
                    <button class="square-btn" id = "next_button"><img src="{% static 'img/next.png' %}"></button>
                </div>
            </article>

    </div>

            <div class="product_details">

                <div class = "top_part">
                    <div class = "two_parts_layer">
                        <div class="left_block">
                            <div class = "name">{{product.name}}</div>
                            <div class = "price_value"> {{product.price}} ₽</div>
                        </div>

                        {% if in_cart %}
                            <button class="shopping_cart_button right_block" type="button" onclick="window.location.href='{% url 'remove_product_in_cart' product_id=product.id %}'">
                                <div class="text-btn">В корзине</div>
                            </button>
                        {% else %}
                            <button class="shopping_cart_button right_block" type="button" onclick="window.location.href='{% url 'add_product_in_cart' product_id=product.id %}'">
                                <div class="text-btn">Добавить в корзину</div>
                            </button>
                        {% endif %}
                        
                    </div>
                </div>
                
                

                
                
                <div class = "block">
                    <div class = "item">Возможный объем:</div><div class="value"> {{product.volumes}} </div>
                    <div class = "item">Товарный вид:</div> <div class = "value"> {{product.type_of_product}} </div>
                    <div class = "item"> Страна-производитель: </div> <div class = "value">{{product.country}}</div>
                </div>
            </div>
            <div class="indent"></div>
    
{% endblock %}

{% block scripts_dependensies %}
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'js/navigation_buttons.js' %} "></script>
{% endblock %}



