
{% extends 'catalogs/base.html' %}
{% load static %}

{% block title %} products {% endblock %}



{% block style_dependencies%}
    <link rel="stylesheet" href="{% static 'styles/slider.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'styles/products_list.css' %}">
{% endblock %}

{% block header_title %} 
    <p>{{title}}</p>
{% endblock %}


{% block content%}
    {% for product in products %}
            
            

            <div class="product_card">
                
                <div class = "two_parts_layer">
                    <button class="btn" data-action="redirect" data-redirect_url="{% url 'product' product_id=product.id %}"></button>

                    <button id = "cart_button_{{product.id}}" class="shopping_cart_button right_block" type="button" 
                    data-product_id="{{product.id}}"
                    data-in_cart_content = "<div class='icon-btn'><i class='fa fa-minus' aria-hidden='true'></i></div>"
                    data-not_in_cart_content = "<div class='icon-btn'><i class='fa fa-plus' aria-hidden='true'></i></div>" 
                    data-add_action_url = "{% url 'add_to_cart_or_delete' %}"
                    data-check_action_url = "{% url 'check_in_cart' %}">
                            ...
                    </button>
                </div>
                
                
                <div class = "image_container">
                    {% if product.images.all %}
                        <img src="{{ product.images.all.0.image.url }}" alt="Товар" class="product-image">
                    {% else %}
                        <img src="{% static 'img/default.jpg' %}" alt="Нет изображения" class="product-image">
                    {% endif %}
                </div>
                    
                <div class="product-details">
                    <div class = "top">
                        <div class="product-title">{{product.name}}</div>
                    </div>
                    <div class = "bottom">
                        <div class="product-description">{{product.description}}</div>
                        <div class="product-price">от {{ product.price_volume_items.all.0.price }} ₽</div>    
                    </div>
                    
                </div>
            </div>
    {% endfor %}
{% endblock %}



{% block scripts_dependensies %} 
    <script src="{% static 'js/cart.js' %} "></script>
    <script src="{% static 'js/cart_actions.js' %} "></script>
{% endblock %}


        
