
{% extends 'catalogs/base.html' %}
{% load static %}

{% block title %} Main page {% endblock %}



{% block style_dependencies %}
    <link rel="stylesheet" href="{% static  'other/font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'styles/slider.css' %} ">
    <link rel="stylesheet" href="{% static 'styles/marqee.css' %} ">
    <link rel="stylesheet" href="{% static 'styles/main.css' %} ">

    <style>
        {% for i in range_slides %}
            {% if forloop.first %}
                #switch{{ forloop.counter }}:checked ~ #slides .image {
                    margin-left: 0;
                }
            {% else %}
                #switch{{ forloop.counter }}:checked ~ #slides .image {
                    margin-left: -{{ i }}00%;
                }
            {% endif %}
        {% endfor %}


        {% for i in range_slides %}
            #switch{{ forloop.counter }}:checked ~ #active label:nth-child({{forloop.counter}}){
                background: var(--color_3);
                border-color: var(--color_3) !important;
            }
        {% endfor %}


    </style>
{% endblock %}


{% block header %}{% endblock %}


{% block content%}
    <div class="all">
        <input checked type="radio" name="respond" id="desktop"/>
            <article id="slider">
                {% for i in range_slides %}
                    <input {% if forloop.first %}checked{% endif %} type="radio" name="slider" id="switch{{forloop.counter}}" >
                {% endfor %}
                <div id="slides">
                    <div id="overflow">
                        <div class="image">
                            {% for slide in slides %}
                                <article>
                                    <div class="slide">
                                        <p><div class = "title">{{slide.title}}</div></p>
                                        <p><button onclick="window.location.href='{% url 'brand_products' brand_id=slide.brand.id %}'" class="inner_button">перейти →</button><img src="{{ slide.image.url }}"></p>
                                    </div>
                                    </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="active">
                    {% for i in range_slides %}
                        <label for="switch{{forloop.counter}}"></label>
                    {% endfor %}
                </div>
            </article>
    </div>
    <div class="inner_container">
        {% for category in categories %}
            <button onclick="window.location.href='{% url 'brands' category_id=category.id %}'" class="btn">
                <div class="instagram_circle_widget">
                    <img class="icon" src="{{category.image.url}}" alt="Icon" >
                    <img class="border" src="{% static 'img/border.png' %}">
                    <p class="title">{{category.name}}</p>
                </div>
            </button>
        {% endfor %}
    </div>
    <div class="marquee">
        <span>Это пример бегущей строки</span>
    </div>
    <div class="indent"></div>
{% endblock %}

{% block scripts_dependensies %}
    <script src="{% static 'js/slides.js' %} "></script>
{% endblock %}



