
{% extends 'catalogs/base.html' %}
{% load static %}

{% block title %} Main page {% endblock %}



{% block style_dependencies %}
    <link rel="stylesheet" href="{% static  'other/font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'styles/slider.css' %} ">
    <link rel="stylesheet" href="{% static 'styles/main.css' %} ">

    <style>
        {% for i in range_images %}
            {% if forloop.first %}
                #switch{{ forloop.counter }}:checked ~ #slides .image {
                    margin-left: 0;
                }
            {% else %}
                #switch{{ forloop.counter }}:checked ~ #slides .image {
                    margin-left: -{{ i }}00%;
                }
            {% endif %}
        {% endfor %}


        {% for i in range_images %}
            #switch{{ forloop.counter }}:checked ~ #active label:nth-child({{forloop.counter}}){
                background: var(--second_color);
                border-color: var(--second_color) !important;
            }
        {% endfor %}


    </style>
{% endblock %}


{% block header %}{% endblock %}


{% block content%}
    <div class="all">
        <input checked type="radio" name="respond" id="desktop"/>
            <article id="slider">
                {% for i in range_images %}
                    <input {% if forloop.first %}checked{% endif %} type="radio" name="slider" id="switch{{forloop.counter}}" >
                {% endfor %}
                <div id="slides">
                    <div id="overflow">
                        <div class="image">
                            {% for image in images %}
                                <article><img src="{{ image.image.url }}"></article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="active">
                    {% for i in range_images %}
                        <label for="switch{{forloop.counter}}"></label>
                    {% endfor %}
                </div>
            </article>
    </div>
    <div class="inner_container">
        {% for category in categories %}
            <button onclick="window.location.href='{% url 'brands' category_id=category.id %}'" class="btn items_color">
                <div class="instagram_circle_widget">
                    <img src="{{category.image.url}}" alt="Icon" class="icon">
                    <p class="title">{{category.name}}</p>
                </div>
            </button>
        {% endfor %}
    </div>
    <div class="indent"></div>
{% endblock %}

{% block scripts_dependensies %}
    <script src="{% static 'js/slides.js' %} "></script>
{% endblock %}



