<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>

    <link rel="stylesheet" href="other/font-awesome/css/all.css">
    <link rel="stylesheet" href="styles/slider.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/table.css">
    <link rel="stylesheet" href="styles/catalog.css">

</head>
<body >
    <div class="header">
        <div class="inner_container">
            <div class="main_title">
                Brands
            </div>
        </div>
    </div>


    <div class="container">
        <table class="icon-table">
            <tr>
                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b1.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">AETHER</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b2.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">AFNAN</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b3.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">ALTAIA</p>
                        </div>
                    </button>
                </td>
            </tr>


            <tr>
                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b4.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">AMOUAGE</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn ite">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b5.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">ATELIER FLOU</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b6.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">BOIS</p>
                        </div>
                    </button>
                </td>
            </tr>


            <tr>
                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b7.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">BRECOUR</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b8.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">BOADICEA</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b1.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">AETHER</p>
                        </div>
                    </button>
                </td>
            </tr>

            <tr>
                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b4.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">AMOUAGE</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn ite">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b5.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">ATELIER FLOU</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b6.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">BOIS</p>
                        </div>
                    </button>
                </td>
            </tr>

            <tr>
                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b4.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">AMOUAGE</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn ite">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b5.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">ATELIER FLOU</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b6.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">BOIS</p>
                        </div>
                    </button>
                </td>
            </tr>

            <tr>
                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b4.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">AMOUAGE</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn ite">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b5.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">ATELIER FLOU</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b6.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">BOIS</p>
                        </div>
                    </button>
                </td>
            </tr>

            <tr>
                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b4.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">AMOUAGE</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn ite">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b5.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">ATELIER FLOU</p>
                        </div>
                    </button>
                </td>

                <td>
                    <button class="btn">
                        <div class="instagram_circle_widget">
                            <div class="icon big">
                                <img src="img/b6.jpg" alt="Icon" class="small_image">
                            </div>
                            <p class="title">BOIS</p>
                        </div>
                    </button>
                </td>
            </tr>


        </table>
        

    </div>



    <div class="navigation_bar">
        <button class="icon-btn"><i class="fa fa-search"></i></button>
        <button class="icon-btn"><i class="fa fa-reply"></i></button>
        <button class="icon-btn"><i class="fa fa-shopping-cart"></i></button>
        <button class="icon-btn"><i class="fa fa-user"></i></button>

    </div>
</body>
</html>
