<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange Page</title>

    
    <link rel="stylesheet" href="styles/adaptive.css">
    <link rel="stylesheet" href="styles/slider.css">
    <link rel="stylesheet" href="other/font-awesome/css/all.css">
    <link rel="stylesheet" href="styles/main.css">

</head>
<body>
    <div class="container">
        <div class="all">
            <input checked type="radio" name="respond" id="desktop">
                <article id="slider">
                        <input checked type="radio" name="slider" id="switch1">
                        <input type="radio" name="slider" id="switch2">
                        <input type="radio" name="slider" id="switch3">
                        <input type="radio" name="slider" id="switch4">
                        <input type="radio" name="slider" id="switch5">
                    <div id="slides">
                        <div id="overflow">
                            <div class="image">
                                <article><img src="img/1.jpg"></article>
                                <article><img src="img/2.jpg"></article>
                                <article><img src="img/3.jpg"></article>
                                <article><img src="img/4.jpg"></article>
                                <article><img src="img/5.jpg"></article>
                            </div>
                        </div>
                    </div>
                    <div id="controls">
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </div>
                    <div id="active">
                        <label for="switch1"></label>
                        <label for="switch2"></label>
                        <label for="switch3"></label>
                        <label for="switch4"></label>
                        <label for="switch5"></label>
                    </div>
                </article>
        </div>
        <div class="inner_container"></div>
        <div class="inner_container"></div>
        <div class="inner_container"></div>
    </div>
    <div class="navigation_bar">
        <button class="icon-btn"><i class="fa fa-home"></i></button>
        <button class="icon-btn"><i class="fa fa-search"></i></button>
        <button class="icon-btn"><i class="fa fa-bell"></i></button>
        <button class="icon-btn"><i class="fa fa-user"></i></button>

    </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="js/slides.js"></script>
</body>
</html>
